header{
  text-align: center;
}

html{
  background-color: turquoise;
}

h1{
  color: yellow;
  font-family: fantasy;
}

h2{
  color: white;
  text-align: center;
  font-size: 22px;
  color: white;
  font-family: fantasy;
}

p{
  font-family: fantasy;
text-align: center;
  font-size: 16px;
  color: white;
}
